.container{
display: flex;
justify-content:space-between;
margin: 10px;
margin-top: 80px;
background-color: #e4ebf0;
}
.first{
    flex: 1;
    margin-left: 60px;
    background-color: white;
}
.second{
    flex: 1;
    margin-right: 60px;
    background-color: white;
}
.message{
    flex: 2;
    margin-left: 20px;
    background-color: white;
    border: 2px solid #eee;
    margin-right: 5px;
}

.span{
    font-size: 15px;
}
h1{
    font-size: 20px;
}