.container{
display: flex;
justify-content:space-between;
margin: 10px;
background-color: #e4ebf0;
}
.first{
    flex: 1;
    margin-left: 60px;
    background-color: white;
}
.second{
    flex: 1;
    margin-right: 60px;
    background-color: white;
    padding:10px;
}
.message{
    flex: 2;
    margin-left: 60px;
    background-color: white;
}

.span{
    font-size: 18px;
    text-decoration: none;
    margin-left:5px;
}
.Who_to_follow {
    font-size: 30px;
    margin:0;
}