.container{
    display: flex;
    justify-content: space-between;
    margin: 60px;
    background-color: #e4ebf0;
    margin-top: 10px;
}
.first{
    flex: 1;
    margin-left: 0px;
    background-color: white;
    position: sticky;
    width: 300px;
    top: 70px;
    bottom: 0px;

}
.second{
    align-items:flex-end;
    background-color: white;
    padding:10px;
    position: sticky;
    top: 70px;
}
.message{
    flex: 2;
    margin-top: 60px;
    background-color: white;
}
.container,.first,.second,.message{
    height: 100%;
}

.span{
    font-size: 18px;
    text-decoration: none;
    margin-left:5px;
}
.Who_to_follow {
    font-size: 30px;
    margin:0;
}