.container{
    display: flex;
    justify-content: space-between;
}

.usermessage{
    display: flex;
    margin: 10px;
    width: 100%;
}
.img1{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}


h1{
    font-size: 15px;
    margin-left: 5px;
}
p{
    margin-left: 5px;
}


@media(max-width:500px){
    .usermessage{
        color: red;
    }
}


.img2{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 2px;
    width: 98%;
    height: 300px;
}

.text{
    display: flex;
    flex-flow: row;
}
.second{
    flex: 2;
}
.first{
    flex: 0;
}
.container1{
    display: flex;
    flex-flow: row;
}

.flex1{
    flex: 1;
}
.flex2{
    flex: 1;
}
.flex3{
    flex: 2;
}