.kesh{
    color: white;
    border-radius: 8px;
    text-shadow: 0 1px 1px rgba(111, 126, 133, 0.2);
    padding: 10px 24px;
    border: none;
    outline: none;
    margin-right:10px;
    background: rgb(21, 128, 128);
}

.input{
    height: 30px;
    border-radius:5px;
    font-size: 20px;
}

