.container{
    display: flex;
    justify-content: space-between;
}

.usermessage{
    display: flex;
    margin: 10px;
    width: 100%;
    animation: move 1s  ease-in-out forwards;
}
.img1{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}


h1{
    font-size: 15px;
    margin-left: 5px;
}
p{
    margin-left: 5px;
}

@keyframes move{
    0%{
        opacity: 0;
        transform: translateX(1000px);
    }
    25%{
        opacity: 0.4;
    }
    50%{
        opacity: 0.6;
    }
    75%{
        opacity: 0.8;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}


@media(max-width:500px){
    .usermessage{
        color: red;
    }
}


.img2{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 2px;
    width: 98%;
    height: 300px;
}

.text{
    display: flex;
    flex-flow: row;
}
.second{
    flex: 2;
}
.first{
    flex: 0;
}

/* .container{
    border: 1px solid red;
} */