
.item{
    margin-left: 20px;
}
@media(max-width:500px){
    .img{
        float: none;
        display: block;
        width: 100%;
    }
    .usermessage{
        width: 250px;
    }
}

@keyframes move{
    0%{
        transform: translateX(400px);
    }
    100%{
        transform: translateX(70px);
    }
}