
.usermessage{
    display: flex;
    margin: 10px;
    border: 2px solid #eee;
    background-color: gray;
    animation: move 1s  ease-in-out forwards;
}
.img1{
    height: 100%;
    width: 150px;
}
h1{
    font-size: 20px;
    margin-left: 20px;
}

p{
    margin-left: 20px;
    margin-right: 5px;
}

@keyframes move{
    0%{
        opacity: 0;
        transform: translateX(1000px);
    }
    25%{
        opacity: 0.4;
    }
    50%{
        opacity: 0.6;
    }
    75%{
        opacity: 0.8;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}


@media(max-width:500px){
    .usermessage{
        color: red;
    }
}